<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'app6/css/style.css'%}">
    <title>Document</title>
</head>
<body>

    <h1>app6 is activated</h1>
    <img src="{% static 'app6/picture/dj.png' %}" alt="DJ Image">
    <form action="">
        <input type="button" value="click me" onclick= "disp()" />
    </form>

    <script src="{% static 'app6/js/scripts.js' %}"defer>

    </script>
    
</body>
</html>